
/Client/node_modules
Client/public/logo.png
Client/public/vite.svg
Client/README.md
Client/src/assets/react.svg
README.md
Server/.env
/Server/node_modules
/Movie_Recommendation-API-main/movievenv/Lib
/Movie_Recommendation-API-main/movievenv
/Movie_Recommendation-API-main/myvenv
/Movie_Recommendation-API-main/venv
*.pyc
moviemood-backend/.env
/moviemood-backend/node_modules
Movie_Recommendation-API-main/movie_recommender.ipynb
moviemood-frontend/.env
